In [1]:
import pandas as pd
import numpy as np
np.random.seed(0)
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsClassifier

In [17]:
df = pd.read_csv('/Users/wickedbear/Coding/Projects/Final_Proj/Data_Redo/Models copy/cleaned_df2.csv')

In [18]:
df

,Unnamed: 0,Coupon,Yield,Moody's Rating,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
0,0,5.125,4.210000,Ba3,0.02,47.79,119151.0,5.694226e+06,5.694226e+06,7.24,...,158.62,-1.36,3.51,2.93,127.50,-3.6,4.57,4.39,23.22,2586.0
1,1,5.875,3.540000,Ba3,0.02,47.79,119151.0,5.694226e+06,5.694226e+06,7.24,...,158.62,-1.36,3.51,2.93,127.50,-3.6,4.57,4.39,23.22,1705.0
2,2,3.250,3.580000,A3,0.12,52.81,543134.0,2.868291e+07,2.868291e+07,32.72,...,726.79,14.81,20.95,1.99,30.05,9.3,7.65,8.45,39.85,1858.0
3,3,4.000,3.440000,A3,0.12,52.81,543134.0,2.868291e+07,2.868291e+07,32.72,...,726.79,14.81,20.95,1.99,30.05,9.3,7.65,8.45,39.85,9740.0
4,4,6.450,2.498236,A3,0.12,52.81,543134.0,2.868291e+07,2.868291e+07,32.72,...,726.79,14.81,20.95,1.99,30.05,9.3,7.65,8.45,39.85,7488.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6706,6707,4.000,4.160000,Baa1,0.09,38.14,575844.0,2.196269e+07,2.196269e+07,28.63,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.55,8.42,3.61,8187.0
6707,6708,2.875,2.060000,Baa1,0.09,38.14,575844.0,2.196269e+07,2.196269e+07,28.63,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.55,8.42,3.61,534.0
6708,6709,2.600,2.270000,Baa1,0.09,38.14,575844.0,2.196269e+07,2.196269e+07,28.63,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.55,8.42,3.61,882.0
6709,6710,3.700,2.390000,A3,0.50,189.95,621307.0,1.180173e+08,1.180173e+08,156.79,...,887.00,4.64,4.18,1.08,19.86,33.0,7.36,6.49,37.56,2979.0
6710,6711,3.250,1.980000,A3,0.50,189.95,621307.0,1.180173e+08,1.180173e+08,156.79,...,887.00,4.64,4.18,1.08,19.86,33.0,7.36,6.49,37.56,1152.0

In [5]:
# cols_drop = ['Unnamed: 0']
# df.drop(columns=cols_drop, inplace=True)
# names_drop = ["Names", "Ticker"]
# df.drop(columns=names_drop, inplace=True)

In [19]:
mdf = df[["Moody's Rating"]]

In [20]:
ndf = pd.read_csv('/Users/wickedbear/Coding/Projects/Final_Proj/Data_Redo/Models copy/ntr.csv')
ndf.drop(columns=cols_drop, inplace=True)

In [21]:
ndf.head()

  Moody's Rating   Names Ticker       Name
0            Ba3   aecom    ACM      AECOM
1            Ba3   aecom    ACM      AECOM
2             A3  aflaci    AFL  AFLAC INC
3             A3  aflaci    AFL  AFLAC INC
4             A3  aflaci    AFL  AFLAC INC

In [9]:
# nmdf = pd.concat([mdf, ndf], axis=1)

In [10]:
# nmdf.head()

  Moody's Rating Moody's Rating   Names Ticker       Name
0            Ba3            Ba3   aecom    ACM      AECOM
1            Ba3            Ba3   aecom    ACM      AECOM
2             A3             A3  aflaci    AFL  AFLAC INC
3             A3             A3  aflaci    AFL  AFLAC INC
4             A3             A3  aflaci    AFL  AFLAC INC

In [22]:
y = df["Moody's Rating"]
X = df.drop("Moody's Rating", axis=1)

In [23]:
X = pd.get_dummies(X, dummy_na=True)

In [24]:
X = pd.concat([ndf, X], axis=1)

In [25]:
X

,Moody's Rating,Names,Ticker,Name,Unnamed: 0,Coupon,Yield,Weight (%),Price,Shares,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
0,Ba3,aecom,ACM,AECOM,0,5.125,4.210000,0.02,47.79,119151.0,...,158.62,-1.36,3.51,2.93,127.50,-3.6,4.57,4.39,23.22,2586.0
1,Ba3,aecom,ACM,AECOM,1,5.875,3.540000,0.02,47.79,119151.0,...,158.62,-1.36,3.51,2.93,127.50,-3.6,4.57,4.39,23.22,1705.0
2,A3,aflaci,AFL,AFLAC INC,2,3.250,3.580000,0.12,52.81,543134.0,...,726.79,14.81,20.95,1.99,30.05,9.3,7.65,8.45,39.85,1858.0
3,A3,aflaci,AFL,AFLAC INC,3,4.000,3.440000,0.12,52.81,543134.0,...,726.79,14.81,20.95,1.99,30.05,9.3,7.65,8.45,39.85,9740.0
4,A3,aflaci,AFL,AFLAC INC,4,6.450,2.498236,0.12,52.81,543134.0,...,726.79,14.81,20.95,1.99,30.05,9.3,7.65,8.45,39.85,7488.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6706,Baa1,ebayin,EBAY,EBAY INC,6707,4.000,4.160000,0.09,38.14,575844.0,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.55,8.42,3.61,8187.0
6707,Baa1,ebayin,EBAY,EBAY INC,6708,2.875,2.060000,0.09,38.14,575844.0,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.55,8.42,3.61,534.0
6708,Baa1,ebayin,EBAY,EBAY INC,6709,2.600,2.270000,0.09,38.14,575844.0,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.55,8.42,3.61,882.0
6709,A3,salesf,CRM,SALESFORCE.COM INC,6710,3.700,2.390000,0.50,189.95,621307.0,...,887.00,4.64,4.18,1.08,19.86,33.0,7.36,6.49,37.56,2979.0
6710,A3,salesf,CRM,SALESFORCE.COM INC,6711,3.250,1.980000,0.50,189.95,621307.0,...,887.00,4.64,4.18,1.08,19.86,33.0,7.36,6.49,37.56,1152.0

In [26]:
y.head()

0    Ba3
1    Ba3
2     A3
3     A3
4     A3
Name: Moody's Rating, dtype: object

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2)

In [28]:
X_train.head()

,Moody's Rating,Names,Ticker,Name,Unnamed: 0,Coupon,Yield,Weight (%),Price,Shares,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
5876,Ba3,united,UPS,UNITED PARCEL SERVICE INC CLASS B,5877,4.625,4.46,0.24,105.95,521902.0,...,702.09,5.99,7.47,6.41,85.76,3.6,6.69,28.18,3.81,2070.0
3406,Baa2,genera,GM,GENERAL MOTORS,3406,3.150,1.87,0.14,34.76,931231.0,...,1.43,4.91,4.70,1.77,96.37,-19.7,14.33,104.57,29.85,670.0
5294,Ba3,servic,SERV,SERVICEMASTER GLOBAL HOLDINGS INC,5294,7.500,6.61,0.02,37.66,105839.0,...,135.41,6.16,14.06,3.53,15.30,10.9,2.07,1.87,17.15,2603.0
4405,WR,master,MA,MASTERCARD INC CLASS A,4405,2.000,2.03,0.97,340.95,663479.0,...,997.45,48.08,57.26,22.34,16.60,15.9,7.64,9.29,5.85,1844.0
5482,A1,states,STT,STATE STREET CORP,5482,3.700,1.84,0.09,77.85,271294.0,...,354.34,19.16,26.41,0.92,31.64,-0.5,224.14,32.70,60.07,1375.0

In [29]:
train_names = X_train[["Moody's Rating", "Names", "Ticker", "Name"]]

In [30]:
test_names = X_test[["Moody's Rating", "Names", "Ticker", "Name"]]

In [33]:
drop = ["Moody's Rating", "Names", "Ticker", "Name", "Unnamed: 0"]

In [34]:
X

,Moody's Rating,Names,Ticker,Name,Unnamed: 0,Coupon,Yield,Weight (%),Price,Shares,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
0,Ba3,aecom,ACM,AECOM,0,5.125,4.210000,0.02,47.79,119151.0,...,158.62,-1.36,3.51,2.93,127.50,-3.6,4.57,4.39,23.22,2586.0
1,Ba3,aecom,ACM,AECOM,1,5.875,3.540000,0.02,47.79,119151.0,...,158.62,-1.36,3.51,2.93,127.50,-3.6,4.57,4.39,23.22,1705.0
2,A3,aflaci,AFL,AFLAC INC,2,3.250,3.580000,0.12,52.81,543134.0,...,726.79,14.81,20.95,1.99,30.05,9.3,7.65,8.45,39.85,1858.0
3,A3,aflaci,AFL,AFLAC INC,3,4.000,3.440000,0.12,52.81,543134.0,...,726.79,14.81,20.95,1.99,30.05,9.3,7.65,8.45,39.85,9740.0
4,A3,aflaci,AFL,AFLAC INC,4,6.450,2.498236,0.12,52.81,543134.0,...,726.79,14.81,20.95,1.99,30.05,9.3,7.65,8.45,39.85,7488.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6706,Baa1,ebayin,EBAY,EBAY INC,6707,4.000,4.160000,0.09,38.14,575844.0,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.55,8.42,3.61,8187.0
6707,Baa1,ebayin,EBAY,EBAY INC,6708,2.875,2.060000,0.09,38.14,575844.0,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.55,8.42,3.61,534.0
6708,Baa1,ebayin,EBAY,EBAY INC,6709,2.600,2.270000,0.09,38.14,575844.0,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.55,8.42,3.61,882.0
6709,A3,salesf,CRM,SALESFORCE.COM INC,6710,3.700,2.390000,0.50,189.95,621307.0,...,887.00,4.64,4.18,1.08,19.86,33.0,7.36,6.49,37.56,2979.0
6710,A3,salesf,CRM,SALESFORCE.COM INC,6711,3.250,1.980000,0.50,189.95,621307.0,...,887.00,4.64,4.18,1.08,19.86,33.0,7.36,6.49,37.56,1152.0

In [35]:
X_train.drop(columns=drop, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [36]:
X_test.drop(columns=drop, inplace=True)

In [37]:
X_train

,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,Trailing P/E,Forward P/E 1,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
5876,4.625,4.46,0.24,105.95,521902.0,5.529552e+07,5.529552e+07,79.62,18.15,10.91,...,702.09,5.99,7.47,6.41,85.76,3.6,6.69,28.18,3.81,2070.0
3406,3.150,1.87,0.14,34.76,931231.0,3.236959e+07,3.236959e+07,44.90,6.88,5.19,...,1.43,4.91,4.70,1.77,96.37,-19.7,14.33,104.57,29.85,670.0
5294,7.500,6.61,0.02,37.66,105839.0,3.985897e+06,3.985897e+06,5.13,40.18,33.24,...,135.41,6.16,14.06,3.53,15.30,10.9,2.07,1.87,17.15,2603.0
4405,2.000,2.03,0.97,340.95,663479.0,2.262132e+08,2.262132e+08,308.31,38.63,28.69,...,997.45,48.08,57.26,22.34,16.60,15.9,7.64,9.29,5.85,1844.0
5482,3.700,1.84,0.09,77.85,271294.0,2.112024e+07,2.112024e+07,24.34,12.77,9.05,...,354.34,19.16,26.41,0.92,31.64,-0.5,224.14,32.70,60.07,1375.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6443,3.550,3.43,0.03,23.29,316398.0,7.368909e+06,7.368909e+06,9.82,10.83,8.87,...,487.39,7.86,16.85,4.72,23.90,11.6,0.62,11.50,16.32,1613.0
3606,4.200,2.25,0.14,34.76,931231.0,3.236959e+07,3.236959e+07,44.90,6.88,5.19,...,1.43,4.91,4.70,1.77,96.37,-19.7,14.33,104.57,29.85,631.0
5704,6.250,6.07,0.04,156.86,55465.0,8.700240e+06,8.700240e+06,10.10,8.99,6.23,...,75.16,12.56,24.02,7.57,120.91,6.5,0.70,12.14,51.51,2861.0
6637,3.600,2.62,0.03,26.24,310451.0,8.146234e+06,8.146234e+06,9.70,9.55,10.78,...,413.12,20.00,19.63,7.31,12.38,-6.7,3.51,3.47,-0.09,760.0
2575,3.850,3.37,0.10,94.30,248702.0,2.345260e+07,2.345260e+07,28.21,20.72,18.26,...,333.78,10.68,20.64,2.90,38.28,0.1,2.94,22.58,54.18,9618.0

In [38]:
X_test

,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,Trailing P/E,Forward P/E 1,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
6230,3.7000,2.290000,0.24,105.95,521902.0,5.529552e+07,5.529552e+07,79.62,18.15,10.91,...,702.09,5.99,7.47,6.41,85.76,3.6,6.69,28.18,3.81,2131.0
202,2.4000,1.860000,2.83,2134.87,309633.0,6.610262e+08,6.610262e+08,972.70,84.92,48.63,...,498.00,4.13,5.14,4.64,567.86,20.8,110.53,77.54,124.62,1104.0
2713,4.5000,2.810000,0.08,76.42,233844.0,1.787036e+07,1.787036e+07,20.93,7.48,7.01,...,310.00,35.94,47.78,2.65,25.71,5.0,22.46,25.71,36.42,2177.0
2964,4.0000,2.498236,0.07,324.17,49154.0,1.593425e+07,1.593425e+07,19.42,44.06,46.88,...,66.17,27.81,38.66,3.04,23.99,17.5,1.07,5.89,94.12,3303.0
793,2.3423,1.990000,0.02,47.96,101873.0,4.885829e+06,4.885829e+06,6.05,73.37,60.30,...,137.40,9.01,20.91,1.69,6.87,4.1,0.40,3.87,24.00,329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2289,2.2500,2.498236,0.04,27.18,368251.0,1.000906e+07,1.000906e+07,11.93,17.86,14.84,...,502.24,6.43,11.36,2.80,24.50,6.4,2.12,15.18,13.18,899.0
5396,3.8750,2.940000,0.23,69.02,778426.0,5.372696e+07,5.372696e+07,67.40,14.21,19.31,...,1.05,22.12,26.15,2.97,20.48,-7.9,1.88,48.69,26.11,1895.0
1576,3.2000,2.080000,4.62,324.95,3327521.0,1.081278e+09,1.081278e+09,1.31,23.72,19.06,...,4.38,21.49,24.71,11.58,58.99,8.9,24.49,116.75,20.42,1915.0
1571,3.0395,1.770000,4.62,324.95,3327521.0,1.081278e+09,1.081278e+09,1.31,23.72,19.06,...,4.38,21.49,24.71,11.58,58.99,8.9,24.49,116.75,20.42,375.0
1751,4.8750,3.230000,0.91,34.85,6089264.0,2.122109e+08,2.122109e+08,256.36,10.68,8.95,...,8.84,32.05,39.07,1.15,9.11,-1.7,68.42,493.84,27.32,8813.0

In [39]:
y_train.head()

5876     Ba3
3406    Baa2
5294     Ba3
4405      WR
5482      A1
Name: Moody's Rating, dtype: object

In [40]:
knn = KNeighborsClassifier(n_neighbors = 6).fit(X_train, y_train)

In [41]:
accuracy = knn.score(X_train, y_train) 
print(accuracy)

0.6681899463540631

In [42]:
knn_predictions_train = knn.predict(X_train)  
cm = confusion_matrix(y_train, knn_predictions_train) 
knn_predictions_train

array(['Ba3', 'Baa3', 'Baa3', ..., 'Ba3', 'Ba1', 'A3'], dtype=object)

In [43]:
train_preds = pd.DataFrame(knn_predictions_train)

In [44]:
train_preds.head()

      0
0   Ba3
1  Baa3
2  Baa3
3    A1
4    A1

In [45]:
r = list(knn_predictions_train)

In [46]:
X_train

,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,Trailing P/E,Forward P/E 1,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
5876,4.625,4.46,0.24,105.95,521902.0,5.529552e+07,5.529552e+07,79.62,18.15,10.91,...,702.09,5.99,7.47,6.41,85.76,3.6,6.69,28.18,3.81,2070.0
3406,3.150,1.87,0.14,34.76,931231.0,3.236959e+07,3.236959e+07,44.90,6.88,5.19,...,1.43,4.91,4.70,1.77,96.37,-19.7,14.33,104.57,29.85,670.0
5294,7.500,6.61,0.02,37.66,105839.0,3.985897e+06,3.985897e+06,5.13,40.18,33.24,...,135.41,6.16,14.06,3.53,15.30,10.9,2.07,1.87,17.15,2603.0
4405,2.000,2.03,0.97,340.95,663479.0,2.262132e+08,2.262132e+08,308.31,38.63,28.69,...,997.45,48.08,57.26,22.34,16.60,15.9,7.64,9.29,5.85,1844.0
5482,3.700,1.84,0.09,77.85,271294.0,2.112024e+07,2.112024e+07,24.34,12.77,9.05,...,354.34,19.16,26.41,0.92,31.64,-0.5,224.14,32.70,60.07,1375.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6443,3.550,3.43,0.03,23.29,316398.0,7.368909e+06,7.368909e+06,9.82,10.83,8.87,...,487.39,7.86,16.85,4.72,23.90,11.6,0.62,11.50,16.32,1613.0
3606,4.200,2.25,0.14,34.76,931231.0,3.236959e+07,3.236959e+07,44.90,6.88,5.19,...,1.43,4.91,4.70,1.77,96.37,-19.7,14.33,104.57,29.85,631.0
5704,6.250,6.07,0.04,156.86,55465.0,8.700240e+06,8.700240e+06,10.10,8.99,6.23,...,75.16,12.56,24.02,7.57,120.91,6.5,0.70,12.14,51.51,2861.0
6637,3.600,2.62,0.03,26.24,310451.0,8.146234e+06,8.146234e+06,9.70,9.55,10.78,...,413.12,20.00,19.63,7.31,12.38,-6.7,3.51,3.47,-0.09,760.0
2575,3.850,3.37,0.10,94.30,248702.0,2.345260e+07,2.345260e+07,28.21,20.72,18.26,...,333.78,10.68,20.64,2.90,38.28,0.1,2.94,22.58,54.18,9618.0

In [47]:
xi = X_train.index

In [48]:
train_preds = train_preds.set_index(xi)

In [49]:
train_preds

         0
5876   Ba3
3406  Baa3
5294  Baa3
4405    A1
5482    A1
...    ...
6443    WR
3606  Baa3
5704   Ba3
6637   Ba1
2575    A3

[5033 rows x 1 columns]

In [50]:
X_train_res = pd.concat([train_names, X_train], axis=1)

In [51]:
X_train_res

,Moody's Rating,Names,Ticker,Name,Coupon,Yield,Weight (%),Price,Shares,Market Value,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
5876,Ba3,united,UPS,UNITED PARCEL SERVICE INC CLASS B,4.625,4.46,0.24,105.95,521902.0,5.529552e+07,...,702.09,5.99,7.47,6.41,85.76,3.6,6.69,28.18,3.81,2070.0
3406,Baa2,genera,GM,GENERAL MOTORS,3.150,1.87,0.14,34.76,931231.0,3.236959e+07,...,1.43,4.91,4.70,1.77,96.37,-19.7,14.33,104.57,29.85,670.0
5294,Ba3,servic,SERV,SERVICEMASTER GLOBAL HOLDINGS INC,7.500,6.61,0.02,37.66,105839.0,3.985897e+06,...,135.41,6.16,14.06,3.53,15.30,10.9,2.07,1.87,17.15,2603.0
4405,WR,master,MA,MASTERCARD INC CLASS A,2.000,2.03,0.97,340.95,663479.0,2.262132e+08,...,997.45,48.08,57.26,22.34,16.60,15.9,7.64,9.29,5.85,1844.0
5482,A1,states,STT,STATE STREET CORP,3.700,1.84,0.09,77.85,271294.0,2.112024e+07,...,354.34,19.16,26.41,0.92,31.64,-0.5,224.14,32.70,60.07,1375.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6443,WR,vistra,VST,VISTRA ENERGY CORP,3.550,3.43,0.03,23.29,316398.0,7.368909e+06,...,487.39,7.86,16.85,4.72,23.90,11.6,0.62,11.50,16.32,1613.0
3606,Baa3,genera,GM,GENERAL MOTORS,4.200,2.25,0.14,34.76,931231.0,3.236959e+07,...,1.43,4.91,4.70,1.77,96.37,-19.7,14.33,104.57,29.85,631.0
5704,WR,united,URI,UNITED RENTALS INC,6.250,6.07,0.04,156.86,55465.0,8.700240e+06,...,75.16,12.56,24.02,7.57,120.91,6.5,0.70,12.14,51.51,2861.0
6637,Baa2,wester,WU,WESTERN UNION,3.600,2.62,0.03,26.24,310451.0,8.146234e+06,...,413.12,20.00,19.63,7.31,12.38,-6.7,3.51,3.47,-0.09,760.0
2575,A3,consol,ED,CONSOLIDATED EDISON INC,3.850,3.37,0.10,94.30,248702.0,2.345260e+07,...,333.78,10.68,20.64,2.90,38.28,0.1,2.94,22.58,54.18,9618.0

In [52]:
X_train_fin = pd.concat([train_preds, X_train_res], axis=1)

In [53]:
X_train_fin

,0,Moody's Rating,Names,Ticker,Name,Coupon,Yield,Weight (%),Price,Shares,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
5876,Ba3,Ba3,united,UPS,UNITED PARCEL SERVICE INC CLASS B,4.625,4.46,0.24,105.95,521902.0,...,702.09,5.99,7.47,6.41,85.76,3.6,6.69,28.18,3.81,2070.0
3406,Baa3,Baa2,genera,GM,GENERAL MOTORS,3.150,1.87,0.14,34.76,931231.0,...,1.43,4.91,4.70,1.77,96.37,-19.7,14.33,104.57,29.85,670.0
5294,Baa3,Ba3,servic,SERV,SERVICEMASTER GLOBAL HOLDINGS INC,7.500,6.61,0.02,37.66,105839.0,...,135.41,6.16,14.06,3.53,15.30,10.9,2.07,1.87,17.15,2603.0
4405,A1,WR,master,MA,MASTERCARD INC CLASS A,2.000,2.03,0.97,340.95,663479.0,...,997.45,48.08,57.26,22.34,16.60,15.9,7.64,9.29,5.85,1844.0
5482,A1,A1,states,STT,STATE STREET CORP,3.700,1.84,0.09,77.85,271294.0,...,354.34,19.16,26.41,0.92,31.64,-0.5,224.14,32.70,60.07,1375.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6443,WR,WR,vistra,VST,VISTRA ENERGY CORP,3.550,3.43,0.03,23.29,316398.0,...,487.39,7.86,16.85,4.72,23.90,11.6,0.62,11.50,16.32,1613.0
3606,Baa3,Baa3,genera,GM,GENERAL MOTORS,4.200,2.25,0.14,34.76,931231.0,...,1.43,4.91,4.70,1.77,96.37,-19.7,14.33,104.57,29.85,631.0
5704,Ba3,WR,united,URI,UNITED RENTALS INC,6.250,6.07,0.04,156.86,55465.0,...,75.16,12.56,24.02,7.57,120.91,6.5,0.70,12.14,51.51,2861.0
6637,Ba1,Baa2,wester,WU,WESTERN UNION,3.600,2.62,0.03,26.24,310451.0,...,413.12,20.00,19.63,7.31,12.38,-6.7,3.51,3.47,-0.09,760.0
2575,A3,A3,consol,ED,CONSOLIDATED EDISON INC,3.850,3.37,0.10,94.30,248702.0,...,333.78,10.68,20.64,2.90,38.28,0.1,2.94,22.58,54.18,9618.0

In [54]:
from sklearn.model_selection import cross_val_score
import numpy as np

knn_cv = KNeighborsClassifier(n_neighbors=3)

cv_scores = cross_val_score(knn_cv, X_train, y_train, cv=5)

print(cv_scores)
print('cv_scores mean:{}'.format(np.mean(cv_scores)))

[0.53504442 0.5579782  0.54419067 0.58648111 0.5490982 ]
cv_scores mean:0.5545585187593531

In [55]:
knnt = KNeighborsClassifier(n_neighbors = 6).fit(X_test, y_test)

In [56]:
accuracy2 = knnt.score(X_test, y_test) 
print(accuracy2)

0.6096543504171633

In [57]:
knn_predictions_test = knnt.predict(X_test)  
cm = confusion_matrix(y_test, knn_predictions_test) 
knn_predictions_test

array(['Baa1', 'A2', 'Baa3', ..., 'Aa1', 'Aa1', 'A2'], dtype=object)

In [58]:
test_preds = pd.DataFrame(knn_predictions_test)

In [59]:
test_preds.head()

      0
0  Baa1
1    A2
2  Baa3
3  Baa1
4    A2

In [60]:
X_test

,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,Trailing P/E,Forward P/E 1,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
6230,3.7000,2.290000,0.24,105.95,521902.0,5.529552e+07,5.529552e+07,79.62,18.15,10.91,...,702.09,5.99,7.47,6.41,85.76,3.6,6.69,28.18,3.81,2131.0
202,2.4000,1.860000,2.83,2134.87,309633.0,6.610262e+08,6.610262e+08,972.70,84.92,48.63,...,498.00,4.13,5.14,4.64,567.86,20.8,110.53,77.54,124.62,1104.0
2713,4.5000,2.810000,0.08,76.42,233844.0,1.787036e+07,1.787036e+07,20.93,7.48,7.01,...,310.00,35.94,47.78,2.65,25.71,5.0,22.46,25.71,36.42,2177.0
2964,4.0000,2.498236,0.07,324.17,49154.0,1.593425e+07,1.593425e+07,19.42,44.06,46.88,...,66.17,27.81,38.66,3.04,23.99,17.5,1.07,5.89,94.12,3303.0
793,2.3423,1.990000,0.02,47.96,101873.0,4.885829e+06,4.885829e+06,6.05,73.37,60.30,...,137.40,9.01,20.91,1.69,6.87,4.1,0.40,3.87,24.00,329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2289,2.2500,2.498236,0.04,27.18,368251.0,1.000906e+07,1.000906e+07,11.93,17.86,14.84,...,502.24,6.43,11.36,2.80,24.50,6.4,2.12,15.18,13.18,899.0
5396,3.8750,2.940000,0.23,69.02,778426.0,5.372696e+07,5.372696e+07,67.40,14.21,19.31,...,1.05,22.12,26.15,2.97,20.48,-7.9,1.88,48.69,26.11,1895.0
1576,3.2000,2.080000,4.62,324.95,3327521.0,1.081278e+09,1.081278e+09,1.31,23.72,19.06,...,4.38,21.49,24.71,11.58,58.99,8.9,24.49,116.75,20.42,1915.0
1571,3.0395,1.770000,4.62,324.95,3327521.0,1.081278e+09,1.081278e+09,1.31,23.72,19.06,...,4.38,21.49,24.71,11.58,58.99,8.9,24.49,116.75,20.42,375.0
1751,4.8750,3.230000,0.91,34.85,6089264.0,2.122109e+08,2.122109e+08,256.36,10.68,8.95,...,8.84,32.05,39.07,1.15,9.11,-1.7,68.42,493.84,27.32,8813.0

In [61]:
xi2 = X_test.index

In [62]:
test_preds = test_preds.set_index(xi2)

In [63]:
test_preds

         0
6230  Baa1
202     A2
2713  Baa3
2964  Baa1
793     A2
...    ...
2289    WR
5396    A3
1576   Aa1
1571   Aa1
1751    A2

[1678 rows x 1 columns]

In [64]:
X_test_res = pd.concat([test_names, X_test], axis=1)

In [65]:
X_test_res

,Moody's Rating,Names,Ticker,Name,Coupon,Yield,Weight (%),Price,Shares,Market Value,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
6230,A3,united,UPS,UNITED PARCEL SERVICE INC CLASS B,3.7000,2.290000,0.24,105.95,521902.0,5.529552e+07,...,702.09,5.99,7.47,6.41,85.76,3.6,6.69,28.18,3.81,2131.0
202,A2,amazon,AMZN,AMAZON COM INC,2.4000,1.860000,2.83,2134.87,309633.0,6.610262e+08,...,498.00,4.13,5.14,4.64,567.86,20.8,110.53,77.54,124.62,1104.0
2713,Baa3,discov,DFS,DISCOVER FINANCIAL SERVICES,4.5000,2.810000,0.08,76.42,233844.0,1.787036e+07,...,310.00,35.94,47.78,2.65,25.71,5.0,22.46,25.71,36.42,2177.0
2964,Baa1,essexp,ESS,ESSEX PROPERTY TRUST REIT INC,4.0000,2.498236,0.07,324.17,49154.0,1.593425e+07,...,66.17,27.81,38.66,3.04,23.99,17.5,1.07,5.89,94.12,3303.0
793,A2,americ,ACC,AMERICAN CAMPUS COMMUNITIES REIT I,2.3423,1.990000,0.02,47.96,101873.0,4.885829e+06,...,137.40,9.01,20.91,1.69,6.87,4.1,0.40,3.87,24.00,329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2289,A1,center,CNP,CENTERPOINT ENERGY INC,2.2500,2.498236,0.04,27.18,368251.0,1.000906e+07,...,502.24,6.43,11.36,2.80,24.50,6.4,2.12,15.18,13.18,899.0
5396,Baa2,southe,SO,SOUTHERN,3.8750,2.940000,0.23,69.02,778426.0,5.372696e+07,...,1.05,22.12,26.15,2.97,20.48,-7.9,1.88,48.69,26.11,1895.0
1576,Aa1,applei,AAPL,APPLE INC,3.2000,2.080000,4.62,324.95,3327521.0,1.081278e+09,...,4.38,21.49,24.71,11.58,58.99,8.9,24.49,116.75,20.42,1915.0
1571,Aa1,applei,AAPL,APPLE INC,3.0395,1.770000,4.62,324.95,3327521.0,1.081278e+09,...,4.38,21.49,24.71,11.58,58.99,8.9,24.49,116.75,20.42,375.0
1751,A2,bankof,BAC,BANK OF AMERICA CORP,4.8750,3.230000,0.91,34.85,6089264.0,2.122109e+08,...,8.84,32.05,39.07,1.15,9.11,-1.7,68.42,493.84,27.32,8813.0

In [66]:
X_test_fin = pd.concat([test_preds, X_test_res], axis=1)

In [67]:
X_test_fin

,0,Moody's Rating,Names,Ticker,Name,Coupon,Yield,Weight (%),Price,Shares,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
6230,Baa1,A3,united,UPS,UNITED PARCEL SERVICE INC CLASS B,3.7000,2.290000,0.24,105.95,521902.0,...,702.09,5.99,7.47,6.41,85.76,3.6,6.69,28.18,3.81,2131.0
202,A2,A2,amazon,AMZN,AMAZON COM INC,2.4000,1.860000,2.83,2134.87,309633.0,...,498.00,4.13,5.14,4.64,567.86,20.8,110.53,77.54,124.62,1104.0
2713,Baa3,Baa3,discov,DFS,DISCOVER FINANCIAL SERVICES,4.5000,2.810000,0.08,76.42,233844.0,...,310.00,35.94,47.78,2.65,25.71,5.0,22.46,25.71,36.42,2177.0
2964,Baa1,Baa1,essexp,ESS,ESSEX PROPERTY TRUST REIT INC,4.0000,2.498236,0.07,324.17,49154.0,...,66.17,27.81,38.66,3.04,23.99,17.5,1.07,5.89,94.12,3303.0
793,A2,A2,americ,ACC,AMERICAN CAMPUS COMMUNITIES REIT I,2.3423,1.990000,0.02,47.96,101873.0,...,137.40,9.01,20.91,1.69,6.87,4.1,0.40,3.87,24.00,329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2289,WR,A1,center,CNP,CENTERPOINT ENERGY INC,2.2500,2.498236,0.04,27.18,368251.0,...,502.24,6.43,11.36,2.80,24.50,6.4,2.12,15.18,13.18,899.0
5396,A3,Baa2,southe,SO,SOUTHERN,3.8750,2.940000,0.23,69.02,778426.0,...,1.05,22.12,26.15,2.97,20.48,-7.9,1.88,48.69,26.11,1895.0
1576,Aa1,Aa1,applei,AAPL,APPLE INC,3.2000,2.080000,4.62,324.95,3327521.0,...,4.38,21.49,24.71,11.58,58.99,8.9,24.49,116.75,20.42,1915.0
1571,Aa1,Aa1,applei,AAPL,APPLE INC,3.0395,1.770000,4.62,324.95,3327521.0,...,4.38,21.49,24.71,11.58,58.99,8.9,24.49,116.75,20.42,375.0
1751,A2,A2,bankof,BAC,BANK OF AMERICA CORP,4.8750,3.230000,0.91,34.85,6089264.0,...,8.84,32.05,39.07,1.15,9.11,-1.7,68.42,493.84,27.32,8813.0

In [68]:
from sklearn.model_selection import cross_val_score
import numpy as np

knn_cv = KNeighborsClassifier(n_neighbors=6)

cv_scores = cross_val_score(knn_cv, X_test, y_test, cv=5)

print(cv_scores)
print('cv_scores mean:{}'.format(np.mean(cv_scores)))

[0.45639535 0.45132743 0.44477612 0.45317221 0.4224924 ]
cv_scores mean:0.445632701704477

In [69]:
fin_df = X_test_fin.append(X_train_fin)

In [70]:
fin_df

,0,Moody's Rating,Names,Ticker,Name,Coupon,Yield,Weight (%),Price,Shares,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
6230,Baa1,A3,united,UPS,UNITED PARCEL SERVICE INC CLASS B,3.7000,2.290000,0.24,105.95,521902.0,...,702.09,5.99,7.47,6.41,85.76,3.6,6.69,28.18,3.81,2131.0
202,A2,A2,amazon,AMZN,AMAZON COM INC,2.4000,1.860000,2.83,2134.87,309633.0,...,498.00,4.13,5.14,4.64,567.86,20.8,110.53,77.54,124.62,1104.0
2713,Baa3,Baa3,discov,DFS,DISCOVER FINANCIAL SERVICES,4.5000,2.810000,0.08,76.42,233844.0,...,310.00,35.94,47.78,2.65,25.71,5.0,22.46,25.71,36.42,2177.0
2964,Baa1,Baa1,essexp,ESS,ESSEX PROPERTY TRUST REIT INC,4.0000,2.498236,0.07,324.17,49154.0,...,66.17,27.81,38.66,3.04,23.99,17.5,1.07,5.89,94.12,3303.0
793,A2,A2,americ,ACC,AMERICAN CAMPUS COMMUNITIES REIT I,2.3423,1.990000,0.02,47.96,101873.0,...,137.40,9.01,20.91,1.69,6.87,4.1,0.40,3.87,24.00,329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6443,WR,WR,vistra,VST,VISTRA ENERGY CORP,3.5500,3.430000,0.03,23.29,316398.0,...,487.39,7.86,16.85,4.72,23.90,11.6,0.62,11.50,16.32,1613.0
3606,Baa3,Baa3,genera,GM,GENERAL MOTORS,4.2000,2.250000,0.14,34.76,931231.0,...,1.43,4.91,4.70,1.77,96.37,-19.7,14.33,104.57,29.85,631.0
5704,Ba3,WR,united,URI,UNITED RENTALS INC,6.2500,6.070000,0.04,156.86,55465.0,...,75.16,12.56,24.02,7.57,120.91,6.5,0.70,12.14,51.51,2861.0
6637,Ba1,Baa2,wester,WU,WESTERN UNION,3.6000,2.620000,0.03,26.24,310451.0,...,413.12,20.00,19.63,7.31,12.38,-6.7,3.51,3.47,-0.09,760.0
2575,A3,A3,consol,ED,CONSOLIDATED EDISON INC,3.8500,3.370000,0.10,94.30,248702.0,...,333.78,10.68,20.64,2.90,38.28,0.1,2.94,22.58,54.18,9618.0