In [57]:
import pandas as pd
import numpy as np
np.random.seed(0)
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsClassifier

In [58]:
df = pd.read_csv('/Users/wickedbear/Coding/Projects/Final_Proj/CSV_Files/cleaned_df2.csv')

In [59]:
cols_drop = ['Unnamed: 0']
df.drop(columns=cols_drop, inplace=True)
names_drop = ["Names", "Ticker"]
df.drop(columns=names_drop, inplace=True)

In [60]:
mdf = df[["Moody's Rating"]]

In [61]:
ndf = pd.read_csv('/Users/wickedbear/Coding/Projects/Final_Proj/Models/names_df.csv')
ndf.drop(columns=cols_drop, inplace=True)

In [62]:
ndf.head()

       Names Ticker
0  aflac inc    AFL
1  aflac inc    AFL
2  aflac inc    AFL
3  aflac inc    AFL
4  aflac inc    AFL

In [63]:
nmdf = pd.concat([mdf, ndf], axis=1)

In [64]:
nmdf.head()

  Moody's Rating      Names Ticker
0             A3  aflac inc    AFL
1             A3  aflac inc    AFL
2             A3  aflac inc    AFL
3             A3  aflac inc    AFL
4             A3  aflac inc    AFL

In [65]:
y = df["Moody's Rating"]
X = df.drop("Moody's Rating", axis=1)

In [66]:
X = pd.get_dummies(X, dummy_na=True)

In [67]:
X = pd.concat([nmdf, X], axis=1)

In [68]:
X

,Moody's Rating,Names,Ticker,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,...,Sector_Health Care,Sector_Industrials,Sector_Information Technology,Sector_Materials,Sector_Real Estate,Sector_Utilities,Sector_nan,Exchange_NASDAQ,Exchange_New York Stock Exchange Inc.,Exchange_nan
0,A3,aflac inc,AFL,3.250,3.580000,0.12,52.81,543134.0,28682906.54,28682906.54,...,0,0,0,0,0,0,0,0,1,0
1,A3,aflac inc,AFL,4.000,3.440000,0.12,52.81,543134.0,28682906.54,28682906.54,...,0,0,0,0,0,0,0,0,1,0
2,A3,aflac inc,AFL,6.450,2.411028,0.12,52.81,543134.0,28682906.54,28682906.54,...,0,0,0,0,0,0,0,0,1,0
3,A3,aflac inc,AFL,3.625,2.130000,0.12,52.81,543134.0,28682906.54,28682906.54,...,0,0,0,0,0,0,0,0,1,0
4,A3,aflac inc,AFL,2.875,2.480000,0.12,52.81,543134.0,28682906.54,28682906.54,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1833,Baa1,ebay inc,EBAY,3.450,2.460000,0.09,38.14,575844.0,21962690.16,21962690.16,...,0,0,0,0,0,0,0,1,0,0
1834,Baa1,ebay inc,EBAY,2.600,2.270000,0.09,38.14,575844.0,21962690.16,21962690.16,...,0,0,0,0,0,0,0,1,0,0
1835,Baa1,ebay inc,EBAY,4.000,4.160000,0.09,38.14,575844.0,21962690.16,21962690.16,...,0,0,0,0,0,0,0,1,0,0
1836,Baa1,ebay inc,EBAY,2.875,2.060000,0.09,38.14,575844.0,21962690.16,21962690.16,...,0,0,0,0,0,0,0,1,0,0
1837,Baa1,ebay inc,EBAY,2.600,2.270000,0.09,38.14,575844.0,21962690.16,21962690.16,...,0,0,0,0,0,0,0,1,0,0

In [69]:
y.head()

0    A3
1    A3
2    A3
3    A3
4    A3
Name: Moody's Rating, dtype: object

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2)

In [71]:
X_train.head()

,Moody's Rating,Names,Ticker,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,...,Sector_Health Care,Sector_Industrials,Sector_Information Technology,Sector_Materials,Sector_Real Estate,Sector_Utilities,Sector_nan,Exchange_NASDAQ,Exchange_New York Stock Exchange Inc.,Exchange_nan
387,Baa1,csx corp,CSX,6.2200,2.411028,0.19,79.59,556853.0,4.431993e+07,4.431993e+07,...,0,1,0,0,0,0,0,1,0,0
824,A2,general dynamics corp,GD,2.8750,1.100000,0.15,188.06,190999.0,3.591927e+07,3.591927e+07,...,0,1,0,0,0,0,0,0,1,0
586,A3,citigroup inc,C,2.4841,2.310000,0.55,78.79,1632863.0,1.286533e+08,1.286533e+08,...,0,0,0,0,0,0,0,0,1,0
1395,A3,prudential financial inc,PRU,5.4000,2.411028,0.12,94.48,303377.0,2.866306e+07,2.866306e+07,...,0,0,0,0,0,0,0,0,1,0
799,Baa2,fiserv inc,FISV,3.5000,2.900000,0.22,122.32,421913.0,5.160840e+07,5.160840e+07,...,0,0,1,0,0,0,0,1,0,0

In [72]:
train_names = X_train[["Moody's Rating", "Names", "Ticker"]]

In [73]:
test_names = X_test[["Moody's Rating", "Names", "Ticker"]]

In [74]:
drop = ["Moody's Rating", "Names", "Ticker"]

In [75]:
X_train.drop(columns=drop, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [76]:
X_test.drop(columns=drop, inplace=True)

In [77]:
X_train

,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,Trailing P/E,Forward P/E 1,...,Sector_Health Care,Sector_Industrials,Sector_Information Technology,Sector_Materials,Sector_Real Estate,Sector_Utilities,Sector_nan,Exchange_NASDAQ,Exchange_New York Stock Exchange Inc.,Exchange_nan
387,6.2200,2.411028,0.19,79.59,556853.0,4.431993e+07,4.431993e+07,62.35,19.32,17.37,...,0,1,0,0,0,0,0,1,0,0
824,2.8750,1.100000,0.15,188.06,190999.0,3.591927e+07,3.591927e+07,53.60,16.06,13.47,...,0,1,0,0,0,0,0,0,1,0
586,2.4841,2.310000,0.55,78.79,1632863.0,1.286533e+08,1.286533e+08,165.03,9.71,8.35,...,0,0,0,0,0,0,0,0,1,0
1395,5.4000,2.411028,0.12,94.48,303377.0,2.866306e+07,2.866306e+07,37.25,9.28,6.83,...,0,0,0,0,0,0,0,0,1,0
799,3.5000,2.900000,0.22,122.32,421913.0,5.160840e+07,5.160840e+07,82.63,71.12,20.74,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,3.0000,2.160000,0.43,339.19,298145.0,1.011278e+08,1.011278e+08,134.30,36.52,22.06,...,1,0,0,0,0,0,0,0,1,0
1608,4.1000,3.920000,0.41,184.00,519631.0,9.561210e+07,9.561210e+07,126.59,21.88,17.55,...,0,1,0,0,0,0,0,0,1,0
493,3.2500,1.740000,0.17,47.23,859463.0,4.059244e+07,4.059244e+07,62.49,18.22,17.50,...,0,0,0,0,0,0,0,0,1,0
527,2.9000,1.650000,0.64,46.97,3206220.0,1.505962e+08,1.505962e+08,196.22,18.19,13.76,...,0,0,1,0,0,0,0,1,0,0
1192,6.3750,4.740000,0.51,380.40,314966.0,1.198131e+08,1.198131e+08,168.66,93.07,45.65,...,0,0,0,0,0,0,0,1,0,0

In [78]:
X_test

,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,Trailing P/E,Forward P/E 1,...,Sector_Health Care,Sector_Industrials,Sector_Information Technology,Sector_Materials,Sector_Real Estate,Sector_Utilities,Sector_nan,Exchange_NASDAQ,Exchange_New York Stock Exchange Inc.,Exchange_nan
665,4.050,2.411028,0.23,87.46,614140.0,5.371268e+07,5.371268e+07,73.72,51.40,19.17,...,0,0,0,0,0,1,0,0,1,0
368,4.100,4.460000,0.19,79.59,556853.0,4.431993e+07,4.431993e+07,62.35,19.32,17.37,...,0,1,0,0,0,0,0,1,0,0
688,4.150,3.540000,0.14,74.92,434692.0,3.256712e+07,3.256712e+07,44.17,14.74,14.46,...,0,0,0,0,0,0,0,0,1,0
1539,6.750,2.411028,0.19,116.63,372870.0,4.348783e+07,4.348783e+07,59.83,18.88,17.14,...,0,0,0,0,0,0,0,0,1,0
114,3.625,2.190000,0.43,223.48,448395.0,1.002073e+08,1.002073e+08,130.29,17.15,12.90,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,4.078,3.180000,0.91,34.85,6089264.0,2.122109e+08,2.122109e+08,308.03,12.68,10.60,...,0,0,0,0,0,0,0,0,1,0
401,4.300,3.000000,0.30,71.37,971328.0,6.932368e+07,6.932368e+07,93.81,14.16,9.48,...,1,0,0,0,0,0,0,0,1,0
284,4.000,2.600000,0.91,34.85,6089264.0,2.122109e+08,2.122109e+08,308.03,12.68,10.60,...,0,0,0,0,0,0,0,0,1,0
1355,3.600,2.320000,0.65,36.51,4161705.0,1.519438e+08,1.519438e+08,198.67,12.50,11.40,...,1,0,0,0,0,0,0,0,1,0
65,5.375,4.500000,0.27,45.17,1398638.0,6.317648e+07,6.317648e+07,84.39,0.00,9.68,...,0,0,0,0,0,0,0,0,1,0

In [123]:
y_train.head()

387     Baa1
824       A2
586       A3
1395      A3
799     Baa2
Name: Moody's Rating, dtype: object

In [124]:
knn = KNeighborsClassifier(n_neighbors = 6).fit(X_train, y_train)

In [125]:
accuracy = knn.score(X_train, y_train) 
print(accuracy)

0.8599419448476052

In [82]:
knn_predictions_train = knn.predict(X_train)  
cm = confusion_matrix(y_train, knn_predictions_train) 
knn_predictions_train

array(['Baa1', 'A2', 'A3', ..., 'A2', 'A1', 'Ba3'], dtype=object)

In [87]:
train_preds = pd.DataFrame(knn_predictions_train)

In [88]:
train_preds.head()

      0
0  Baa1
1    A2
2    A3
3    A3
4  Baa2

In [101]:
r = list(knn_predictions_train)

In [102]:
X_train

,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,Trailing P/E,Forward P/E 1,...,Sector_Health Care,Sector_Industrials,Sector_Information Technology,Sector_Materials,Sector_Real Estate,Sector_Utilities,Sector_nan,Exchange_NASDAQ,Exchange_New York Stock Exchange Inc.,Exchange_nan
387,6.2200,2.411028,0.19,79.59,556853.0,4.431993e+07,4.431993e+07,62.35,19.32,17.37,...,0,1,0,0,0,0,0,1,0,0
824,2.8750,1.100000,0.15,188.06,190999.0,3.591927e+07,3.591927e+07,53.60,16.06,13.47,...,0,1,0,0,0,0,0,0,1,0
586,2.4841,2.310000,0.55,78.79,1632863.0,1.286533e+08,1.286533e+08,165.03,9.71,8.35,...,0,0,0,0,0,0,0,0,1,0
1395,5.4000,2.411028,0.12,94.48,303377.0,2.866306e+07,2.866306e+07,37.25,9.28,6.83,...,0,0,0,0,0,0,0,0,1,0
799,3.5000,2.900000,0.22,122.32,421913.0,5.160840e+07,5.160840e+07,82.63,71.12,20.74,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,3.0000,2.160000,0.43,339.19,298145.0,1.011278e+08,1.011278e+08,134.30,36.52,22.06,...,1,0,0,0,0,0,0,0,1,0
1608,4.1000,3.920000,0.41,184.00,519631.0,9.561210e+07,9.561210e+07,126.59,21.88,17.55,...,0,1,0,0,0,0,0,0,1,0
493,3.2500,1.740000,0.17,47.23,859463.0,4.059244e+07,4.059244e+07,62.49,18.22,17.50,...,0,0,0,0,0,0,0,0,1,0
527,2.9000,1.650000,0.64,46.97,3206220.0,1.505962e+08,1.505962e+08,196.22,18.19,13.76,...,0,0,1,0,0,0,0,1,0,0
1192,6.3750,4.740000,0.51,380.40,314966.0,1.198131e+08,1.198131e+08,168.66,93.07,45.65,...,0,0,0,0,0,0,0,1,0,0

In [109]:
xi = X_train.index

In [114]:
train_preds = train_preds.set_index(xi)

In [115]:
train_preds

         0
387   Baa1
824     A2
586     A3
1395    A3
799   Baa2
...    ...
1558  Baa1
1608  Baa1
493     A2
527     A1
1192   Ba3

[1378 rows x 1 columns]

In [116]:
X_train_res = pd.concat([train_names, X_train], axis=1)

In [117]:
X_train_res

,Moody's Rating,Names,Ticker,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,...,Sector_Health Care,Sector_Industrials,Sector_Information Technology,Sector_Materials,Sector_Real Estate,Sector_Utilities,Sector_nan,Exchange_NASDAQ,Exchange_New York Stock Exchange Inc.,Exchange_nan
387,Baa1,csx corp,CSX,6.2200,2.411028,0.19,79.59,556853.0,4.431993e+07,4.431993e+07,...,0,1,0,0,0,0,0,1,0,0
824,A2,general dynamics corp,GD,2.8750,1.100000,0.15,188.06,190999.0,3.591927e+07,3.591927e+07,...,0,1,0,0,0,0,0,0,1,0
586,A3,citigroup inc,C,2.4841,2.310000,0.55,78.79,1632863.0,1.286533e+08,1.286533e+08,...,0,0,0,0,0,0,0,0,1,0
1395,A3,prudential financial inc,PRU,5.4000,2.411028,0.12,94.48,303377.0,2.866306e+07,2.866306e+07,...,0,0,0,0,0,0,0,0,1,0
799,Baa2,fiserv inc,FISV,3.5000,2.900000,0.22,122.32,421913.0,5.160840e+07,5.160840e+07,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,Baa1,thermo fisher scientific inc,TMO,3.0000,2.160000,0.43,339.19,298145.0,1.011278e+08,1.011278e+08,...,1,0,0,0,0,0,0,0,1,0
1608,Baa1,union pacific corp,UNP,4.1000,3.920000,0.41,184.00,519631.0,9.561210e+07,9.561210e+07,...,0,1,0,0,0,0,0,0,1,0
493,A2,charles schwab corp,SCHW,3.2500,1.740000,0.17,47.23,859463.0,4.059244e+07,4.059244e+07,...,0,0,0,0,0,0,0,0,1,0
527,A1,cisco systems inc,CSCO,2.9000,1.650000,0.64,46.97,3206220.0,1.505962e+08,1.505962e+08,...,0,0,1,0,0,0,0,1,0,0
1192,WR,netflix inc,NFLX,6.3750,4.740000,0.51,380.40,314966.0,1.198131e+08,1.198131e+08,...,0,0,0,0,0,0,0,1,0,0

In [118]:
X_train_fin = pd.concat([train_preds, X_train_res], axis=1)

In [119]:
X_train_fin

,0,Moody's Rating,Names,Ticker,Coupon,Yield,Weight (%),Price,Shares,Market Value,...,Sector_Health Care,Sector_Industrials,Sector_Information Technology,Sector_Materials,Sector_Real Estate,Sector_Utilities,Sector_nan,Exchange_NASDAQ,Exchange_New York Stock Exchange Inc.,Exchange_nan
387,Baa1,Baa1,csx corp,CSX,6.2200,2.411028,0.19,79.59,556853.0,4.431993e+07,...,0,1,0,0,0,0,0,1,0,0
824,A2,A2,general dynamics corp,GD,2.8750,1.100000,0.15,188.06,190999.0,3.591927e+07,...,0,1,0,0,0,0,0,0,1,0
586,A3,A3,citigroup inc,C,2.4841,2.310000,0.55,78.79,1632863.0,1.286533e+08,...,0,0,0,0,0,0,0,0,1,0
1395,A3,A3,prudential financial inc,PRU,5.4000,2.411028,0.12,94.48,303377.0,2.866306e+07,...,0,0,0,0,0,0,0,0,1,0
799,Baa2,Baa2,fiserv inc,FISV,3.5000,2.900000,0.22,122.32,421913.0,5.160840e+07,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,Baa1,Baa1,thermo fisher scientific inc,TMO,3.0000,2.160000,0.43,339.19,298145.0,1.011278e+08,...,1,0,0,0,0,0,0,0,1,0
1608,Baa1,Baa1,union pacific corp,UNP,4.1000,3.920000,0.41,184.00,519631.0,9.561210e+07,...,0,1,0,0,0,0,0,0,1,0
493,A2,A2,charles schwab corp,SCHW,3.2500,1.740000,0.17,47.23,859463.0,4.059244e+07,...,0,0,0,0,0,0,0,0,1,0
527,A1,A1,cisco systems inc,CSCO,2.9000,1.650000,0.64,46.97,3206220.0,1.505962e+08,...,0,0,1,0,0,0,0,1,0,0
1192,Ba3,WR,netflix inc,NFLX,6.3750,4.740000,0.51,380.40,314966.0,1.198131e+08,...,0,0,0,0,0,0,0,1,0,0

In [121]:
from sklearn.model_selection import cross_val_score
import numpy as np

knn_cv = KNeighborsClassifier(n_neighbors=3)

cv_scores = cross_val_score(knn_cv, X_train, y_train, cv=5)

print(cv_scores)
print('cv_scores mean:{}'.format(np.mean(cv_scores)))

[0.78723404 0.82374101 0.82181818 0.86397059 0.83394834]
cv_scores mean:0.8261424318568613

/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

In [130]:
knnt = KNeighborsClassifier(n_neighbors = 6).fit(X_test, y_test)

In [131]:
accuracy2 = knnt.score(X_test, y_test) 
print(accuracy2)

0.7739130434782608

In [132]:
knn_predictions_test = knnt.predict(X_test)  
cm = confusion_matrix(y_test, knn_predictions_test) 
knn_predictions_test

array(['Baa2', 'Baa1', 'Baa1', 'Baa2', 'Baa1', 'A2', 'Baa2', 'Baa1',
       'Ba1', 'WR', 'Baa3', 'Baa3', 'B2', 'Baa1', 'A2', 'Baa2', 'Baa2',
       'A2', 'A2', 'Baa2', 'Baa1', 'Baa1', 'A1', 'Baa1', 'A1', 'A1',
       'Baa2', 'Baa1', 'A3', 'A3', 'Baa2', 'Baa1', 'Baa1', 'Baa1', 'Baa1',
       'A3', 'A3', 'A2', 'Baa1', 'WR', 'Baa3', 'Baa1', 'A1', 'A2', 'Baa1',
       'Baa1', 'Baa1', 'Baa1', 'WR', 'Ba1', 'A2', 'Baa3', 'A3', 'Aa2',
       'Baa1', 'Baa1', 'A2', 'A2', 'A2', 'WR', 'A2', 'Aa1', 'A3', 'Aa1',
       'Baa2', 'A3', 'Baa3', 'A3', 'Aaa', 'Baa2', 'A3', 'Baa1', 'A3',
       'A1', 'Baa3', 'A3', 'Baa1', 'Baa1', 'Ba1', 'A3', 'Baa1', 'A1',
       'A3', 'A3', 'A3', 'A2', 'A3', 'A3', 'Baa3', 'WR', 'Baa1', 'WR',
       'A3', 'Ba1', 'A3', 'Baa2', 'Baa1', 'Aaa', 'A3', 'A2', 'A2', 'Baa1',
       'Baa1', 'Baa1', 'Baa1', 'A1', 'WR', 'A3', 'Baa1', 'Baa1', 'A3',
       'Baa3', 'Baa1', 'Baa2', 'A3', 'Baa1', 'Baa3', 'A1', 'A3', 'Baa2',
       'Baa1', 'Aa2', 'A2', 'Baa1', 'Aaa', 'A3', 'Baa1', 'Ba1', 'Baa2',
       'Baa2', 'Baa1', 'WR', 'Baa1', 'Baa1', 'A1', 'Baa1', 'Baa2', 'A3',
       'Baa2', 'A3', 'Aaa', 'Baa2', 'B2', 'A1', 'Baa1', 'A1', 'Baa1',
       'A2', 'A1', 'Aa1', 'A1', 'Baa3', 'Baa3', 'A3', 'Baa2', 'Aaa',
       'Ba1', 'Baa1', 'Aaa', 'Ba3', 'Aaa', 'A1', 'Aaa', 'Baa1', 'WR',
       'A3', 'A3', 'Baa1', 'Aa2', 'Baa2', 'Baa1', 'A3', 'Aa2', 'Ba3',
       'Baa2', 'A2', 'A3', 'WR', 'A1', 'Ba3', 'Baa3', 'WR', 'Ba1', 'A3',
       'Baa1', 'Baa1', 'A2', 'Baa2', 'Baa2', 'Baa1', 'Baa1', 'A2', 'Aaa',
       'Baa1', 'Aaa', 'Baa1', 'A3', 'Baa2', 'A3', 'Baa1', 'A3', 'Baa2',
       'Aaa', 'A2', 'Baa1', 'Ba3', 'A3', 'Baa1', 'A3', 'Aa2', 'A3',
       'Baa1', 'A2', 'Baa3', 'Baa1', 'Baa1', 'Baa2', 'A2', 'Aaa', 'A2',
       'A2', 'A2', 'A2', 'Aa2', 'Baa1', 'A3', 'A3', 'Baa1', 'A3', 'A2',
       'Baa2', 'WR', 'Baa1', 'A3', 'Baa2', 'A3', 'Aa1', 'Baa3', 'A2',
       'Baa1', 'A3', 'A1', 'Aa1', 'Baa2', 'Baa2', 'Baa2', 'A2', 'A3',
       'Baa1', 'Aa2', 'Baa2', 'Baa1', 'Aaa', 'Baa1', 'Baa1', 'Baa2',
       'Baa1', 'A2', 'A3', 'Baa1', 'A3', 'Aaa', 'A2', 'Baa3', 'WR', 'B2',
       'Baa2', 'Baa2', 'A3', 'Baa1', 'Baa1', 'Baa3', 'Baa1', 'A3', 'A3',
       'Baa1', 'Baa3', 'Baa1', 'A1', 'Baa1', 'A2', 'A3', 'Baa1', 'Aaa',
       'A2', 'Baa1', 'Baa3', 'Baa1', 'Baa1', 'Baa2', 'A1', 'WR', 'Aa2',
       'A3', 'Baa1', 'A2', 'A3', 'A1', 'Baa2', 'Aa2', 'WR', 'A2', 'Baa3',
       'Baa1', 'Baa1', 'Baa1', 'A3', 'A3', 'A2', 'A2', 'Baa3', 'Baa1',
       'Baa1', 'Aa2', 'A3', 'A2', 'A1', 'Baa1', 'Baa1', 'A3', 'Baa1',
       'Baa2', 'A2', 'A1', 'Baa1', 'Baa2', 'A1', 'A1', 'A1', 'A3', 'Baa1',
       'Baa2', 'A2', 'Aa1', 'Baa1', 'A2', 'Baa1', 'A1', 'A3', 'A3', 'A2',
       'Baa1', 'A3', 'A1', 'Baa2', 'Baa1', 'A3', 'Baa2', 'Baa1', 'Baa1',
       'Ba3', 'Baa1', 'A1', 'Aa2', 'Baa1', 'Baa1', 'Aaa', 'Baa2', 'WR',
       'A3', 'A2', 'Baa3', 'A1', 'Baa1', 'Baa2', 'A2', 'Baa2', 'Baa1',
       'Baa1', 'Ba1', 'Baa2', 'A2', 'Baa1', 'Baa1', 'A3', 'Baa2', 'Baa1',
       'Baa1', 'Baa1', 'A2', 'B2', 'A3', 'A2', 'Ba1', 'Baa1', 'Baa2',
       'A3', 'A2', 'Baa1', 'A3', 'Baa1', 'A2', 'A1', 'Baa2', 'Aaa',
       'Baa1', 'A3', 'Aa1', 'Baa2', 'A3', 'A2', 'Baa1', 'Baa2', 'Aa1',
       'Baa1', 'Aaa', 'Aa1', 'Baa1', 'Baa2', 'Baa2', 'Baa2', 'A3', 'Baa2',
       'Aa2', 'A2', 'Baa3', 'Baa1', 'Baa1', 'Baa3', 'A3', 'Baa1', 'Baa1',
       'Baa1', 'Aa2', 'Baa2', 'A1', 'A2', 'A2', 'Baa1', 'Aaa', 'Baa2',
       'A3', 'Baa2', 'Baa3', 'A1', 'Baa1', 'A3', 'Aa2', 'Ba3', 'A1',
       'Baa1', 'Baa2', 'Aaa', 'A3', 'Aa1', 'Baa2', 'Baa2', 'A1', 'Baa2',
       'A3', 'A2', 'A2', 'Baa2', 'Baa3', 'Aa2', 'A2', 'Baa2', 'A2', 'A1',
       'A3'], dtype=object)

In [133]:
test_preds = pd.DataFrame(knn_predictions_test)

In [134]:
test_preds.head()

      0
0  Baa2
1  Baa1
2  Baa1
3  Baa2
4  Baa1

In [135]:
X_test

,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,Trailing P/E,Forward P/E 1,...,Sector_Health Care,Sector_Industrials,Sector_Information Technology,Sector_Materials,Sector_Real Estate,Sector_Utilities,Sector_nan,Exchange_NASDAQ,Exchange_New York Stock Exchange Inc.,Exchange_nan
665,4.050,2.411028,0.23,87.46,614140.0,5.371268e+07,5.371268e+07,73.72,51.40,19.17,...,0,0,0,0,0,1,0,0,1,0
368,4.100,4.460000,0.19,79.59,556853.0,4.431993e+07,4.431993e+07,62.35,19.32,17.37,...,0,1,0,0,0,0,0,1,0,0
688,4.150,3.540000,0.14,74.92,434692.0,3.256712e+07,3.256712e+07,44.17,14.74,14.46,...,0,0,0,0,0,0,0,0,1,0
1539,6.750,2.411028,0.19,116.63,372870.0,4.348783e+07,4.348783e+07,59.83,18.88,17.14,...,0,0,0,0,0,0,0,0,1,0
114,3.625,2.190000,0.43,223.48,448395.0,1.002073e+08,1.002073e+08,130.29,17.15,12.90,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,4.078,3.180000,0.91,34.85,6089264.0,2.122109e+08,2.122109e+08,308.03,12.68,10.60,...,0,0,0,0,0,0,0,0,1,0
401,4.300,3.000000,0.30,71.37,971328.0,6.932368e+07,6.932368e+07,93.81,14.16,9.48,...,1,0,0,0,0,0,0,0,1,0
284,4.000,2.600000,0.91,34.85,6089264.0,2.122109e+08,2.122109e+08,308.03,12.68,10.60,...,0,0,0,0,0,0,0,0,1,0
1355,3.600,2.320000,0.65,36.51,4161705.0,1.519438e+08,1.519438e+08,198.67,12.50,11.40,...,1,0,0,0,0,0,0,0,1,0
65,5.375,4.500000,0.27,45.17,1398638.0,6.317648e+07,6.317648e+07,84.39,0.00,9.68,...,0,0,0,0,0,0,0,0,1,0

In [136]:
xi2 = X_test.index

In [137]:
test_preds = test_preds.set_index(xi2)

In [138]:
test_preds

         0
665   Baa2
368   Baa1
688   Baa1
1539  Baa2
114   Baa1
...    ...
280     A2
401   Baa2
284     A2
1355    A1
65      A3

[460 rows x 1 columns]

In [139]:
X_test_res = pd.concat([test_names, X_test], axis=1)

In [140]:
X_test_res

,Moody's Rating,Names,Ticker,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,...,Sector_Health Care,Sector_Industrials,Sector_Information Technology,Sector_Materials,Sector_Real Estate,Sector_Utilities,Sector_nan,Exchange_NASDAQ,Exchange_New York Stock Exchange Inc.,Exchange_nan
665,Baa2,dominion energy inc,D,4.050,2.411028,0.23,87.46,614140.0,5.371268e+07,5.371268e+07,...,0,0,0,0,0,1,0,0,1,0
368,Baa1,csx corp,CSX,4.100,4.460000,0.19,79.59,556853.0,4.431993e+07,4.431993e+07,...,0,1,0,0,0,0,0,1,0,0
688,A3,eog resources inc,EOG,4.150,3.540000,0.14,74.92,434692.0,3.256712e+07,3.256712e+07,...,0,0,0,0,0,0,0,0,1,0
1539,A2,target corp,TGT,6.750,2.411028,0.19,116.63,372870.0,4.348783e+07,4.348783e+07,...,0,0,0,0,0,0,0,0,1,0
114,Baa1,amgen inc,AMGN,3.625,2.190000,0.43,223.48,448395.0,1.002073e+08,1.002073e+08,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,A2,bank of america corp,BAC,4.078,3.180000,0.91,34.85,6089264.0,2.122109e+08,2.122109e+08,...,0,0,0,0,0,0,0,0,1,0
401,Baa2,cvs health corp,CVS,4.300,3.000000,0.30,71.37,971328.0,6.932368e+07,6.932368e+07,...,1,0,0,0,0,0,0,0,1,0
284,Baa1,bank of america corp,BAC,4.000,2.600000,0.91,34.85,6089264.0,2.122109e+08,2.122109e+08,...,0,0,0,0,0,0,0,0,1,0
1355,A1,pfizer inc,PFE,3.600,2.320000,0.65,36.51,4161705.0,1.519438e+08,1.519438e+08,...,1,0,0,0,0,0,0,0,1,0
65,A3,altria group inc,MO,5.375,4.500000,0.27,45.17,1398638.0,6.317648e+07,6.317648e+07,...,0,0,0,0,0,0,0,0,1,0

In [141]:
X_test_fin = pd.concat([test_preds, X_test_res], axis=1)

In [142]:
X_test_fin

,0,Moody's Rating,Names,Ticker,Coupon,Yield,Weight (%),Price,Shares,Market Value,...,Sector_Health Care,Sector_Industrials,Sector_Information Technology,Sector_Materials,Sector_Real Estate,Sector_Utilities,Sector_nan,Exchange_NASDAQ,Exchange_New York Stock Exchange Inc.,Exchange_nan
665,Baa2,Baa2,dominion energy inc,D,4.050,2.411028,0.23,87.46,614140.0,5.371268e+07,...,0,0,0,0,0,1,0,0,1,0
368,Baa1,Baa1,csx corp,CSX,4.100,4.460000,0.19,79.59,556853.0,4.431993e+07,...,0,1,0,0,0,0,0,1,0,0
688,Baa1,A3,eog resources inc,EOG,4.150,3.540000,0.14,74.92,434692.0,3.256712e+07,...,0,0,0,0,0,0,0,0,1,0
1539,Baa2,A2,target corp,TGT,6.750,2.411028,0.19,116.63,372870.0,4.348783e+07,...,0,0,0,0,0,0,0,0,1,0
114,Baa1,Baa1,amgen inc,AMGN,3.625,2.190000,0.43,223.48,448395.0,1.002073e+08,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,A2,A2,bank of america corp,BAC,4.078,3.180000,0.91,34.85,6089264.0,2.122109e+08,...,0,0,0,0,0,0,0,0,1,0
401,Baa2,Baa2,cvs health corp,CVS,4.300,3.000000,0.30,71.37,971328.0,6.932368e+07,...,1,0,0,0,0,0,0,0,1,0
284,A2,Baa1,bank of america corp,BAC,4.000,2.600000,0.91,34.85,6089264.0,2.122109e+08,...,0,0,0,0,0,0,0,0,1,0
1355,A1,A1,pfizer inc,PFE,3.600,2.320000,0.65,36.51,4161705.0,1.519438e+08,...,1,0,0,0,0,0,0,0,1,0
65,A3,A3,altria group inc,MO,5.375,4.500000,0.27,45.17,1398638.0,6.317648e+07,...,0,0,0,0,0,0,0,0,1,0

In [145]:
from sklearn.model_selection import cross_val_score
import numpy as np

knn_cv = KNeighborsClassifier(n_neighbors=6)

cv_scores = cross_val_score(knn_cv, X_test, y_test, cv=5)

print(cv_scores)
print('cv_scores mean:{}'.format(np.mean(cv_scores)))

[0.6        0.60416667 0.69230769 0.68181818 0.70588235]
cv_scores mean:0.6568349787467435

/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

In [146]:
fin_df = X_test_fin.append(X_train_fin)

In [148]:
fin_df

,0,Moody's Rating,Names,Ticker,Coupon,Yield,Weight (%),Price,Shares,Market Value,...,Sector_Health Care,Sector_Industrials,Sector_Information Technology,Sector_Materials,Sector_Real Estate,Sector_Utilities,Sector_nan,Exchange_NASDAQ,Exchange_New York Stock Exchange Inc.,Exchange_nan
665,Baa2,Baa2,dominion energy inc,D,4.050,2.411028,0.23,87.46,614140.0,5.371268e+07,...,0,0,0,0,0,1,0,0,1,0
368,Baa1,Baa1,csx corp,CSX,4.100,4.460000,0.19,79.59,556853.0,4.431993e+07,...,0,1,0,0,0,0,0,1,0,0
688,Baa1,A3,eog resources inc,EOG,4.150,3.540000,0.14,74.92,434692.0,3.256712e+07,...,0,0,0,0,0,0,0,0,1,0
1539,Baa2,A2,target corp,TGT,6.750,2.411028,0.19,116.63,372870.0,4.348783e+07,...,0,0,0,0,0,0,0,0,1,0
114,Baa1,Baa1,amgen inc,AMGN,3.625,2.190000,0.43,223.48,448395.0,1.002073e+08,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,Baa1,Baa1,thermo fisher scientific inc,TMO,3.000,2.160000,0.43,339.19,298145.0,1.011278e+08,...,1,0,0,0,0,0,0,0,1,0
1608,Baa1,Baa1,union pacific corp,UNP,4.100,3.920000,0.41,184.00,519631.0,9.561210e+07,...,0,1,0,0,0,0,0,0,1,0
493,A2,A2,charles schwab corp,SCHW,3.250,1.740000,0.17,47.23,859463.0,4.059244e+07,...,0,0,0,0,0,0,0,0,1,0
527,A1,A1,cisco systems inc,CSCO,2.900,1.650000,0.64,46.97,3206220.0,1.505962e+08,...,0,0,1,0,0,0,0,1,0,0
1192,Ba3,WR,netflix inc,NFLX,6.375,4.740000,0.51,380.40,314966.0,1.198131e+08,...,0,0,0,0,0,0,0,1,0,0