In [2]:
import pandas as pd
import numpy as np
np.random.seed(0)
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('/Users/wickedbear/Coding/Projects/Final_Proj/CSV_Files/cleaned_df2.csv')

In [4]:
df.head()

,Unnamed: 0,Coupon,Yield,Moody's Rating,Names,Ticker,Weight (%),Price,Shares,Market Value,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
0,0,3.250,3.580000,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,...,726.79,14.81,19.93,1.9,30.05,9.3,45.032679,6.57,39.85,1858.0
1,1,4.000,3.440000,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,...,726.79,14.81,19.93,1.9,30.05,9.3,45.032679,6.57,39.85,9740.0
2,2,6.450,2.411028,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,...,726.79,14.81,19.93,1.9,30.05,9.3,45.032679,6.57,39.85,7488.0
3,3,3.625,2.130000,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,...,726.79,14.81,19.93,1.9,30.05,9.3,45.032679,6.57,39.85,1736.0
4,4,2.875,2.480000,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,...,726.79,14.81,19.93,1.9,30.05,9.3,45.032679,6.57,39.85,2435.0

In [5]:
cols_drop = ['Unnamed: 0']
df.drop(columns=cols_drop, inplace=True)

In [6]:
df

,Coupon,Yield,Moody's Rating,Names,Ticker,Weight (%),Price,Shares,Market Value,Notional Value,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
0,3.250,3.580000,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,28682906.54,...,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,1858.0
1,4.000,3.440000,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,28682906.54,...,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,9740.0
2,6.450,2.411028,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,28682906.54,...,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,7488.0
3,3.625,2.130000,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,28682906.54,...,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,1736.0
4,2.875,2.480000,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,28682906.54,...,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,2435.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1833,3.450,2.460000,Baa1,ebay inc,EBAY,0.09,38.14,575844.0,21962690.16,21962690.16,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,1630.0
1834,2.600,2.270000,Baa1,ebay inc,EBAY,0.09,38.14,575844.0,21962690.16,21962690.16,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,882.0
1835,4.000,4.160000,Baa1,ebay inc,EBAY,0.09,38.14,575844.0,21962690.16,21962690.16,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,8187.0
1836,2.875,2.060000,Baa1,ebay inc,EBAY,0.09,38.14,575844.0,21962690.16,21962690.16,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,534.0
1837,2.600,2.270000,Baa1,ebay inc,EBAY,0.09,38.14,575844.0,21962690.16,21962690.16,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,882.0

In [7]:
df.isna().sum()

Coupon                            0
Yield                             0
Moody's Rating                    0
Names                             0
Ticker                            0
Weight (%)                        0
Price                             0
Shares                            0
Market Value                      0
Notional Value                    0
Sector                            0
Exchange                          0
Market Cap (intraday) 5           0
Trailing P/E                      0
Forward P/E 1                     0
PEG Ratio (5 yr expected) 1       0
Price/Sales (ttm)                 0
Price/Book (mrq)                  0
Beta (5Y Monthly)                 0
% Held by Insiders 1              0
% Held by Institutions 1          0
Avg Vol (10 day) 3                0
Avg Vol (3 month) 3               0
Shares Outstanding 5              0
Profit Margin                     0
Operating Margin (ttm)            0
Return on Assets (ttm)            0
Revenue Per Share (ttm)           0
Quarterly Revenue Growth (yoy)    0
Total Cash Per Share (mrq)        0
Total Debt (mrq)                  0
Book Value Per Share (mrq)        0
Days_to_Maturity                  0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 33 columns):
Coupon                            1838 non-null float64
Yield                             1838 non-null float64
Moody's Rating                    1838 non-null object
Names                             1838 non-null object
Ticker                            1838 non-null object
Weight (%)                        1838 non-null float64
Price                             1838 non-null float64
Shares                            1838 non-null float64
Market Value                      1838 non-null float64
Notional Value                    1838 non-null float64
Sector                            1838 non-null object
Exchange                          1838 non-null object
Market Cap (intraday) 5           1838 non-null float64
Trailing P/E                      1838 non-null float64
Forward P/E 1                     1838 non-null float64
PEG Ratio (5 yr expected) 1       1838 non-null float64
Price/Sales (ttm)                 1838 non-null float64
Price/Book (mrq)                  1838 non-null float64
Beta (5Y Monthly)                 1838 non-null float64
% Held by Insiders 1              1838 non-null float64
% Held by Institutions 1          1838 non-null float64
Avg Vol (10 day) 3                1838 non-null float64
Avg Vol (3 month) 3               1838 non-null float64
Shares Outstanding 5              1838 non-null float64
Profit Margin                     1838 non-null float64
Operating Margin (ttm)            1838 non-null float64
Return on Assets (ttm)            1838 non-null float64
Revenue Per Share (ttm)           1838 non-null float64
Quarterly Revenue Growth (yoy)    1838 non-null float64
Total Cash Per Share (mrq)        1838 non-null float64
Total Debt (mrq)                  1838 non-null float64
Book Value Per Share (mrq)        1838 non-null float64
Days_to_Maturity                  1838 non-null float64
dtypes: float64(28), object(5)
memory usage: 474.0+ KB

In [9]:
df.describe()

,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,Trailing P/E,Forward P/E 1,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
count,1838.000000,1838.000000,1838.000000,1838.000000,1.838000e+03,1.838000e+03,1.838000e+03,1838.000000,1838.000000,1838.000000,...,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000
mean,4.080944,2.782258,0.543738,134.939913,1.231676e+06,1.271164e+08,1.271164e+08,113.793188,35.161861,17.132361,...,269.430076,16.285903,22.919173,5.500439,80.363188,6.803319,44.983232,92.667459,37.980110,3945.749728
std,1.400488,0.850503,0.918654,141.851507,1.518423e+06,2.149172e+08,2.149172e+08,110.219352,99.857434,12.977909,...,310.814898,12.197671,13.831587,3.907906,135.579162,22.368734,91.719553,155.613941,44.558311,4062.483260
min,1.250000,0.160000,0.040000,8.100000,1.013300e+04,1.000906e+07,1.000906e+07,1.400000,0.000000,-32.330000,...,1.020000,-60.130000,-60.760000,-19.270000,4.110000,-35.000000,0.080000,1.050000,-75.080000,0.000000
25%,3.101025,2.270000,0.120000,55.840000,2.712940e+05,2.789671e+07,2.789671e+07,32.560000,12.680000,10.600000,...,3.080000,6.640000,12.410000,2.240000,19.170000,-1.800000,2.530000,13.010000,14.840000,1080.250000
50%,3.875000,2.480000,0.240000,89.660000,6.135510e+05,5.533689e+07,5.533689e+07,73.720000,17.975000,14.330000,...,152.010000,14.610000,22.040000,5.495976,31.870000,3.100000,7.200000,31.810000,27.320000,2313.000000
75%,4.743750,3.220000,0.550000,166.970000,1.426722e+06,1.286533e+08,1.286533e+08,165.030000,26.300000,19.210000,...,486.810000,27.270000,36.180000,7.550000,70.720000,8.900000,22.340000,63.890000,51.900000,6629.750000
max,10.750000,7.470000,4.620000,1990.960000,6.089264e+06,1.081278e+09,1.081278e+09,423.900000,806.500000,143.220000,...,984.960000,52.520000,65.450000,26.740000,1217.560000,190.000000,341.220000,999.330000,768.980000,35962.000000

In [10]:
pd.set_option('display.max_columns', 100)

In [11]:
df.describe()

,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,Trailing P/E,Forward P/E 1,PEG Ratio (5 yr expected) 1,Price/Sales (ttm),Price/Book (mrq),Beta (5Y Monthly),% Held by Insiders 1,% Held by Institutions 1,Avg Vol (10 day) 3,Avg Vol (3 month) 3,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
count,1838.000000,1838.000000,1838.000000,1838.000000,1.838000e+03,1.838000e+03,1.838000e+03,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000,1838.000000
mean,4.080944,2.782258,0.543738,134.939913,1.231676e+06,1.271164e+08,1.271164e+08,113.793188,35.161861,17.132361,2.363346,3.343422,5.548651,1.043063,4.484695,74.950702,75.707383,52.172410,269.430076,16.285903,22.919173,5.500439,80.363188,6.803319,44.983232,92.667459,37.980110,3945.749728
std,1.400488,0.850503,0.918654,141.851507,1.518423e+06,2.149172e+08,2.149172e+08,110.219352,99.857434,12.977909,4.397356,2.561191,11.189570,0.421473,12.949488,20.647983,222.244066,180.068259,310.814898,12.197671,13.831587,3.907906,135.579162,22.368734,91.719553,155.613941,44.558311,4062.483260
min,1.250000,0.160000,0.040000,8.100000,1.013300e+04,1.000906e+07,1.000906e+07,1.400000,0.000000,-32.330000,-23.080000,0.110000,0.000000,0.080000,0.000000,0.000000,1.070000,1.040000,1.020000,-60.130000,-60.760000,-19.270000,4.110000,-35.000000,0.080000,1.050000,-75.080000,0.000000
25%,3.101025,2.270000,0.120000,55.840000,2.712940e+05,2.789671e+07,2.789671e+07,32.560000,12.680000,10.600000,1.397500,1.490000,1.290000,0.710000,0.120000,71.160000,2.620000,2.690000,3.080000,6.640000,12.410000,2.240000,19.170000,-1.800000,2.530000,13.010000,14.840000,1080.250000
50%,3.875000,2.480000,0.240000,89.660000,6.135510e+05,5.533689e+07,5.533689e+07,73.720000,17.975000,14.330000,1.910000,3.000000,3.000000,1.110000,0.240000,77.930000,5.690000,5.430000,152.010000,14.610000,22.040000,5.495976,31.870000,3.100000,7.200000,31.810000,27.320000,2313.000000
75%,4.743750,3.220000,0.550000,166.970000,1.426722e+06,1.286533e+08,1.286533e+08,165.030000,26.300000,19.210000,2.860000,4.490000,5.500000,1.280000,0.730000,87.107500,15.020000,11.710000,486.810000,27.270000,36.180000,7.550000,70.720000,8.900000,22.340000,63.890000,51.900000,6629.750000
max,10.750000,7.470000,4.620000,1990.960000,6.089264e+06,1.081278e+09,1.081278e+09,423.900000,806.500000,143.220000,43.920000,19.800000,154.380000,3.100000,93.220000,107.240000,975.500000,983.450000,984.960000,52.520000,65.450000,26.740000,1217.560000,190.000000,341.220000,999.330000,768.980000,35962.000000

In [12]:
names_drop = ["Names", "Ticker"]
df.drop(columns=names_drop, inplace=True)

In [13]:
mdf = df[["Moody's Rating"]]

In [15]:
ndf = pd.read_csv('/Users/wickedbear/Coding/Projects/Final_Proj/Models/names_df.csv')

In [16]:
ndf.head()

   Unnamed: 0      Names Ticker
0           0  aflac inc    AFL
1           1  aflac inc    AFL
2           2  aflac inc    AFL
3           3  aflac inc    AFL
4           4  aflac inc    AFL

In [17]:
ndf.drop(columns=cols_drop, inplace=True)

In [18]:
ndf.head()

       Names Ticker
0  aflac inc    AFL
1  aflac inc    AFL
2  aflac inc    AFL
3  aflac inc    AFL
4  aflac inc    AFL

In [19]:
nmdf = pd.concat([mdf, ndf], axis=1)

In [21]:
nmdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 3 columns):
Moody's Rating    1838 non-null object
Names             1838 non-null object
Ticker            1838 non-null object
dtypes: object(3)
memory usage: 43.2+ KB

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 31 columns):
Coupon                            1838 non-null float64
Yield                             1838 non-null float64
Moody's Rating                    1838 non-null object
Weight (%)                        1838 non-null float64
Price                             1838 non-null float64
Shares                            1838 non-null float64
Market Value                      1838 non-null float64
Notional Value                    1838 non-null float64
Sector                            1838 non-null object
Exchange                          1838 non-null object
Market Cap (intraday) 5           1838 non-null float64
Trailing P/E                      1838 non-null float64
Forward P/E 1                     1838 non-null float64
PEG Ratio (5 yr expected) 1       1838 non-null float64
Price/Sales (ttm)                 1838 non-null float64
Price/Book (mrq)                  1838 non-null float64
Beta (5Y Monthly)                 1838 non-null float64
% Held by Insiders 1              1838 non-null float64
% Held by Institutions 1          1838 non-null float64
Avg Vol (10 day) 3                1838 non-null float64
Avg Vol (3 month) 3               1838 non-null float64
Shares Outstanding 5              1838 non-null float64
Profit Margin                     1838 non-null float64
Operating Margin (ttm)            1838 non-null float64
Return on Assets (ttm)            1838 non-null float64
Revenue Per Share (ttm)           1838 non-null float64
Quarterly Revenue Growth (yoy)    1838 non-null float64
Total Cash Per Share (mrq)        1838 non-null float64
Total Debt (mrq)                  1838 non-null float64
Book Value Per Share (mrq)        1838 non-null float64
Days_to_Maturity                  1838 non-null float64
dtypes: float64(28), object(3)
memory usage: 445.3+ KB

In [23]:
y = df["Moody's Rating"]
X = df.drop("Moody's Rating", axis=1)

In [24]:
X = pd.get_dummies(X, dummy_na=True)

In [28]:
X

,Coupon,Yield,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,Trailing P/E,Forward P/E 1,PEG Ratio (5 yr expected) 1,Price/Sales (ttm),Price/Book (mrq),Beta (5Y Monthly),% Held by Insiders 1,% Held by Institutions 1,Avg Vol (10 day) 3,Avg Vol (3 month) 3,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity,Sector_Communication,Sector_Consumer Discretionary,Sector_Consumer Staples,Sector_Energy,Sector_Financials,Sector_Health Care,Sector_Industrials,Sector_Information Technology,Sector_Materials,Sector_Real Estate,Sector_Utilities,Sector_nan,Exchange_NASDAQ,Exchange_New York Stock Exchange Inc.,Exchange_nan
0,3.250,3.580000,0.12,52.81,543134.0,28682906.54,28682906.54,37.47,11.64,11.09,4.28,1.68,1.29,0.64,7.69,64.15,2.24,2.91,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,1858.0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,4.000,3.440000,0.12,52.81,543134.0,28682906.54,28682906.54,37.47,11.64,11.09,4.28,1.68,1.29,0.64,7.69,64.15,2.24,2.91,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,9740.0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
2,6.450,2.411028,0.12,52.81,543134.0,28682906.54,28682906.54,37.47,11.64,11.09,4.28,1.68,1.29,0.64,7.69,64.15,2.24,2.91,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,7488.0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
3,3.625,2.130000,0.12,52.81,543134.0,28682906.54,28682906.54,37.47,11.64,11.09,4.28,1.68,1.29,0.64,7.69,64.15,2.24,2.91,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,1736.0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2.875,2.480000,0.12,52.81,543134.0,28682906.54,28682906.54,37.47,11.64,11.09,4.28,1.68,1.29,0.64,7.69,64.15,2.24,2.91,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,2435.0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1833,3.450,2.460000,0.09,38.14,575844.0,21962690.16,21962690.16,29.87,17.93,11.20,1.17,2.77,10.40,1.24,4.50,95.45,10.52,10.20,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,1630.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1834,2.600,2.270000,0.09,38.14,575844.0,21962690.16,21962690.16,29.87,17.93,11.20,1.17,2.77,10.40,1.24,4.50,95.45,10.52,10.20,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,882.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1835,4.000,4.160000,0.09,38.14,575844.0,21962690.16,21962690.16,29.87,17.93,11.20,1.17,2.77,10.40,1.24,4.50,95.45,10.52,10.20,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,8187.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1836,2.875,2.060000,0.09,38.14,575844.0,21962690.16,21962690.16,29.87,17.93,11.20,1.17,2.77,10.40,1.24,4.50,95.45,10.52,10.20,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,534.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1837,2.600,2.270000,0.09,38.14,575844.0,21962690.16,21962690.16,29.87,17.93,11.20,1.17,2.77,10.40,1.24,4.50,95.45,10.52,10.20,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,882.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0

In [30]:
X.dtypes

Coupon                                   float64
Yield                                    float64
Weight (%)                               float64
Price                                    float64
Shares                                   float64
Market Value                             float64
Notional Value                           float64
Market Cap (intraday) 5                  float64
Trailing P/E                             float64
Forward P/E 1                            float64
PEG Ratio (5 yr expected) 1              float64
Price/Sales (ttm)                        float64
Price/Book (mrq)                         float64
Beta (5Y Monthly)                        float64
% Held by Insiders 1                     float64
% Held by Institutions 1                 float64
Avg Vol (10 day) 3                       float64
Avg Vol (3 month) 3                      float64
Shares Outstanding 5                     float64
Profit Margin                            float64
Operating Margin (ttm)                   float64
Return on Assets (ttm)                   float64
Revenue Per Share (ttm)                  float64
Quarterly Revenue Growth (yoy)           float64
Total Cash Per Share (mrq)               float64
Total Debt (mrq)                         float64
Book Value Per Share (mrq)               float64
Days_to_Maturity                         float64
Sector_Communication                       uint8
Sector_Consumer Discretionary              uint8
Sector_Consumer Staples                    uint8
Sector_Energy                              uint8
Sector_Financials                          uint8
Sector_Health Care                         uint8
Sector_Industrials                         uint8
Sector_Information Technology              uint8
Sector_Materials                           uint8
Sector_Real Estate                         uint8
Sector_Utilities                           uint8
Sector_nan                                 uint8
Exchange_NASDAQ                            uint8
Exchange_New York Stock Exchange Inc.      uint8
Exchange_nan                               uint8
dtype: object

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [35]:
from sklearn.svm import SVC

In [ ]:
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(X_train, y_train) 
svm_predictions = svm_model_linear.predict(X_test)

In [ ]:
accuracy = svm_model_linear.score(X_test, y_test)

In [ ]:
cm = confusion_matrix(y_test, svm_predictions)

In [ ]:
svm_model_rbf = SVC(kernel = 'rbf', C = 1).fit(X_train, y_train) 
svm_predictions = svm_model_linear.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix , accuracy_score
print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred)) 
print("The accuracy score is" + " "+ str(accuracy_score(y_test, y_pred)))

In [ ]:
svm_model_linear = SVC(kernel = 'rbf', C = 500).fit(X_train, y_train) 
svm_predictions = svm_model_linear.predict(X_test)

In [ ]:
svm_model_linear = SVC(kernel = 'sigmoid', C = 1).fit(X_train, y_train) 
svm_predictions = svm_model_linear.predict(X_test)

In [ ]:
svm_model_linear = SVC(kernel = 'sigmoid', C = 1000).fit(X_train, y_train) 
svm_predictions = svm_model_linear.predict(X_test)

In [ ]:
svm_model_linear = SVC(kernel = 'poly', C = 1).fit(X_train, y_train) 
svm_predictions = svm_model_linear.predict(X_test)

In [ ]:
svm_model_linear = SVC(kernel = 'poly', C = 1000).fit(X_train, y_train) 
svm_predictions = svm_model_linear.predict(X_test)