In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('/Users/wickedbear/Coding/Projects/Final_Proj/CSV_Files/cleaned_df2.csv')

In [12]:
df

,Unnamed: 0,Coupon,Yield,Moody's Rating,Names,Ticker,Weight (%),Price,Shares,Market Value,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
0,0,3.250,3.580000,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,...,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,1858.0
1,1,4.000,3.440000,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,...,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,9740.0
2,2,6.450,2.411028,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,...,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,7488.0
3,3,3.625,2.130000,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,...,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,1736.0
4,4,2.875,2.480000,A3,aflac inc,AFL,0.12,52.81,543134.0,28682906.54,...,726.79,14.81,19.93,1.90,30.05,9.3,45.032679,6.57,39.85,2435.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1833,1833,3.450,2.460000,Baa1,ebay inc,EBAY,0.09,38.14,575844.0,21962690.16,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,1630.0
1834,1834,2.600,2.270000,Baa1,ebay inc,EBAY,0.09,38.14,575844.0,21962690.16,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,882.0
1835,1835,4.000,4.160000,Baa1,ebay inc,EBAY,0.09,38.14,575844.0,21962690.16,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,8187.0
1836,1836,2.875,2.060000,Baa1,ebay inc,EBAY,0.09,38.14,575844.0,21962690.16,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,534.0
1837,1837,2.600,2.270000,Baa1,ebay inc,EBAY,0.09,38.14,575844.0,21962690.16,...,813.52,16.54,22.20,7.31,12.72,-1.9,3.550000,8.42,3.61,882.0

In [13]:
cols_drop = ['Unnamed: 0']
df.drop(columns=cols_drop, inplace=True)
names_drop = ["Names", "Ticker"]
df.drop(columns=names_drop, inplace=True)
sectors = names_drop = ["Sector", "Exchange"]
df.drop(columns=sectors, inplace=True)

In [14]:
mdf = df[["Moody's Rating"]]

In [15]:
ndf = pd.read_csv('/Users/wickedbear/Coding/Projects/Final_Proj/Models/names_df.csv')
ndf.drop(columns=cols_drop, inplace=True)

In [16]:
nmdf = pd.concat([mdf, ndf], axis=1)

In [17]:
nmdf.head()

  Moody's Rating      Names Ticker
0             A3  aflac inc    AFL
1             A3  aflac inc    AFL
2             A3  aflac inc    AFL
3             A3  aflac inc    AFL
4             A3  aflac inc    AFL

In [18]:
df.head()

,Coupon,Yield,Moody's Rating,Weight (%),Price,Shares,Market Value,Notional Value,Market Cap (intraday) 5,Trailing P/E,...,Shares Outstanding 5,Profit Margin,Operating Margin (ttm),Return on Assets (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Total Cash Per Share (mrq),Total Debt (mrq),Book Value Per Share (mrq),Days_to_Maturity
0,3.250,3.580000,A3,0.12,52.81,543134.0,28682906.54,28682906.54,37.47,11.64,...,726.79,14.81,19.93,1.9,30.05,9.3,45.032679,6.57,39.85,1858.0
1,4.000,3.440000,A3,0.12,52.81,543134.0,28682906.54,28682906.54,37.47,11.64,...,726.79,14.81,19.93,1.9,30.05,9.3,45.032679,6.57,39.85,9740.0
2,6.450,2.411028,A3,0.12,52.81,543134.0,28682906.54,28682906.54,37.47,11.64,...,726.79,14.81,19.93,1.9,30.05,9.3,45.032679,6.57,39.85,7488.0
3,3.625,2.130000,A3,0.12,52.81,543134.0,28682906.54,28682906.54,37.47,11.64,...,726.79,14.81,19.93,1.9,30.05,9.3,45.032679,6.57,39.85,1736.0
4,2.875,2.480000,A3,0.12,52.81,543134.0,28682906.54,28682906.54,37.47,11.64,...,726.79,14.81,19.93,1.9,30.05,9.3,45.032679,6.57,39.85,2435.0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 29 columns):
Coupon                            1838 non-null float64
Yield                             1838 non-null float64
Moody's Rating                    1838 non-null object
Weight (%)                        1838 non-null float64
Price                             1838 non-null float64
Shares                            1838 non-null float64
Market Value                      1838 non-null float64
Notional Value                    1838 non-null float64
Market Cap (intraday) 5           1838 non-null float64
Trailing P/E                      1838 non-null float64
Forward P/E 1                     1838 non-null float64
PEG Ratio (5 yr expected) 1       1838 non-null float64
Price/Sales (ttm)                 1838 non-null float64
Price/Book (mrq)                  1838 non-null float64
Beta (5Y Monthly)                 1838 non-null float64
% Held by Insiders 1              1838 non-null float64
% Held by Institutions 1          1838 non-null float64
Avg Vol (10 day) 3                1838 non-null float64
Avg Vol (3 month) 3               1838 non-null float64
Shares Outstanding 5              1838 non-null float64
Profit Margin                     1838 non-null float64
Operating Margin (ttm)            1838 non-null float64
Return on Assets (ttm)            1838 non-null float64
Revenue Per Share (ttm)           1838 non-null float64
Quarterly Revenue Growth (yoy)    1838 non-null float64
Total Cash Per Share (mrq)        1838 non-null float64
Total Debt (mrq)                  1838 non-null float64
Book Value Per Share (mrq)        1838 non-null float64
Days_to_Maturity                  1838 non-null float64
dtypes: float64(28), object(1)
memory usage: 416.5+ KB

In [20]:
# choose models
from sklearn.linear_model import LinearRegression, LogisticRegression
from mord import LogisticAT

# instantiate models
model_linear = LinearRegression()
model_1vR = LogisticRegression(multi_class='ovr',
    class_weight='balanced')
model_multi = LogisticRegression(multi_class='multinomial',
    solver='lbfgs',
    class_weight='balanced')
model_ordinal = LogisticAT(alpha=0)  # alpha parameter set to zero to perform no regularisation

ModuleNotFoundError: No module named 'mord'

In [ ]:
y = df["Moody's Rating"]
X = df.drop("Moody's Rating", axis=1)